.nav--links{
  display:flex;
  justify-content: space-evenly;
}

.nav--links > a{
  text-decoration: none;
  color:white;
  padding-right:40px;
}

.nav--links > a:active{
  color:green;
}


.nav--items{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.link--navbar:hover{
  color: black;
}

.card--div{
  margin:20px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:10%;
}

.spaced-element{
  margin:10px;
  padding:10px;
}

.card-class{
  width: 300px;
  height: 250px;
}

.form-section{
  display:flex;
  flex-direction: column;
  align-items: center;

}

.button-type{
  display:block;
}

.link-style{
  text-decoration: none;
  color:white
}
